.main_content{
    overflow-x: hidden;
    overflow-y: auto;
    height: 525px;
}
.cardBox{
    width: 791px;
    height: 376px;
    display: flex;
    margin: 60px 0px 20px 50px;
}
.img{
    width: 250px;
    height: 375px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.content{
    width: 541px;
    height: 375px;
    background-color: #d3ecef;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'Comic Neue', sans-serif;
}
.isi{
    margin: 20px 0px 0px 0px;
}
#sub-judul{
    background-color: #23A1AF;
  }
#isiSub-judul{
    background-color: #d3ecef;
}
#btnPesan{
    margin: 30px 0px 0px 190px;
}
img{
    object-fit: cover;
}
